<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
<nav>
    <a href="/drinks" <%- title === 'All drinks' ? 'class="active"' : '' %>>ALL DRINKS</a>
    <% if (user) { %>
        <a href="/drinks/new">ADD DRINK</a>
        <a href="/logout">LOG OUT</a>
    <% } else { %>
        <a href="/auth/google" class="login">LOG IN</a>
    <% } %>
</nav>